@model Jigsaw.UI.Core.MasterCommon.TestHarness.Models.TestHarnessModel

@{
    ViewBag.Title = "Master Common Test Harness";
}
<link href="~/Content/jasmine/jasmine.css" rel="stylesheet" />
<link href="~/Content/test-harness/test-harness.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/ConsoleLog/consolelog.js"></script>
<script data-main="/Scripts/main.js" src="~/Scripts/require.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <header class="test-harness-header">
        <div class="test-col-25">
            <p class="test-title"><b>Test Harness - Master Common </b></p>
            <button type="button" id="btn_force_error" class="red">
                Force Error
            </button>
            <label><input type="checkbox" id="chk_alert_error" name="Alert" /><b>Alert onError</b></label>
        </div>
        <div class="test-col-25">
            <button type="button" id="btn_load_sample" class="blue">
                Load Sample Page
            </button>
            <button type="button" id="btn_run_specs" class="blue">
                Run Tests
            </button>
            <!--div class="environment">
                Environment :
                <select id="sel_environment">
                    <option value="TEST">Test</option>
                    <option value="LIVE">Live</option>
                </select>
            </div-->

        </div>

        <div class="test-col-25 check-container">
            <h4 class="vertical-text">Javascripts</h4>
            <div class="checkbox-list">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.RenderScripts, new { onclick = "form.submit()" })@Html.LabelFor(model => model.RenderScripts, htmlAttributes: new { @class = "control-label" })
                    </label>
                    @Html.ValidationMessageFor(model => model.RenderScripts, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="test-col-25 check-container">
            <h4 class="vertical-text">CSS Styles</h4>
            <div class="checkbox-list">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.RenderStyles, new { onclick = "form.submit()" })@Html.LabelFor(model => model.RenderStyles, htmlAttributes: new { @class = "control-label" })
                    </label>
                    @Html.ValidationMessageFor(model => model.RenderStyles, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </header>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div id="content-div"></div>
}
